version: "2.1"

services:
    nginx:
        build: ./nginx/
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./nginx/vhosts:/etc/nginx/conf.d:ro
            - ${PROJECT_ROOT}:/app
            - ./log/nginx:/var/log/nginx
        networks:
            - server
        depends_on:
            - php
        restart: always
    php:
        build: ./php/
        expose:
            - 9000
        volumes:
            - ${PROJECT_ROOT}:/app
            - ./log/php:/var/log/php
        networks:
            - database
            - server
        depends_on:
            - mysql
        restart: always

    mysql:
        image: mysql:5.7
        container_name: mysql
        volumes:
            - ./mysql_data:/var/lib/mysql
            - ./log/mysql:/var/log/mysql
        networks:
            - database
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
            MYSQL_DATABASE: "${DB_NAME}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
        restart: always

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        ports:
            - 8080:80
        networks:
            - database
        depends_on:
            - mysql
        environment:
            PMA_HOST: mysql
        restart: always

    redis:
        image: redis:alpine
        container_name: redis
        volumes:
            - ./redis/redis_data:/data
            - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
        command: redis-server /usr/local/etc/redis/redis.conf
        networks:
            - database
        ports:
            - "6379:6379"
        restart: always
        logging:
            driver: "json-file"
            options:
                max-size: "1m"

networks:
    database:
    server: