version: "2.1"

services:
    nginx:
        build: ./nginx/
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./nginx/vhosts:/etc/nginx/conf.d:ro
            - ${PROJECT_ROOT}:/app
            - ./nginx/logs:/var/log/nginx
        networks:
            - server
        depends_on:
            - php
        restart: always
    php:
        build: ./php/
        expose:
            - 9000
        volumes:
            - ${PROJECT_ROOT}:/app
            - ./php/logs:/var/log/php
        networks:
            - database
            - server
        depends_on:
            - mysql
        restart: always

    mysql:
        image: mysql:5.7
        container_name: mysql
        volumes:
            - ./mysql/data:/var/lib/mysql
            - ./mysql/logs:/var/log/mysql
        networks:
            - database
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: "${DB_ROOT_PASSWORD}"
            MYSQL_DATABASE: "${DB_NAME}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
        command: mysqld --sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION" --character-set-server=utf8 --collation-server=utf8_unicode_ci --init-connect='SET NAMES UTF8;' --innodb-flush-log-at-trx-commit=0
        restart: always

#    phpmyadmin:
#        image: phpmyadmin/phpmyadmin
#        container_name: phpmyadmin
#        ports:
#            - 8080:80
#        networks:
#            - database
#        depends_on:
#            - mysql
#        environment:
#            PMA_HOST: mysql
#        restart: always

#    hyperf:
#        container_name: hyperf
#        image: hyperf/hyperf
#        volumes:
#            - ../wwwroot:/wwwroot
#        ports:
#            - "9501:9501"
#            - "9502:9502"
#            - "9200:9200"
#        networks:
#            - hyperf
#        # command: php /wwwroot/bin/hyperf.php start
#        tty: true

    redis:
        image: redis
        container_name: redis
        volumes:
            - ./reds/data:/data
            - ./reds/redis.conf:/usr/local/etc/redis/redis.conf
        command: redis-server /usr/local/etc/redis/redis.conf
        networks:
            - database
        ports:
            - "6379:6379"
        restart: always
        logging:
            driver: "json-file"
            options:
                max-size: "1m"

networks:
    database:
    server:
